<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hack110 Quiz</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body>
        <form method="post">
            <label for="fname">First name:</label>
            <input type="text" name="fname">
            <br />
            <br />
            <label for="lname">Last name:</label>
            <input type="text" name="lname">
            <br />
            <br />
            <label for="personality">Which word best describes your personality?</label>
            <select name="personality">
                <option value="blank"></option>
                <option value="cheeky">cheeky</option>
                <option value="prankster">prankster</option>
                <option value="loyal">loyal</option>
                <option value="cute">cute</option>
            </select>
            <br />
            <br />
            <label for="realm">Which realm would you want to live in?</label>
            <select name="realm">
                <option value="blank"></option>
                <option value="talo">Ta Lo (Shang Chi)</option>
                <option value="cave">Cave of Wonders (Aladdin)</option>
                <option value="arendale">Arendale (Frozen)</option>
                <option value="zootopia">Zootopia</option>
            </select>
            <br />
            <br />
            <label for="color">What is your favorite color?</label>
            <select name="color">
                <option value="blank"></option>
                <option value="purple">purple</option>
                <option value="gold">gold</option>
                <option value="green">green</option>
                <option value="blue">blue</option>
            </select>
            <br />
            <br />
            <label for="music">What kind of music do you like to listen to?</label>
            <select name="music">
                <option value="blank"></option>
                <option value="jazz">jazz</option>
                <option value="rap">rap</option>
                <option value="folk">folk</option>
                <option value="pop">pop</option>
            </select>
            <br />
            <br />
            <label for="power">If you could have any power, what would you choose?</label>
            <select name="power">
                <option value="blank"></option>
                <option value="flying">flying</option>
                <option value="midas">Midas Touch</option>
                <option value="telepathy">telepathy</option>
                <option value="fire">fire</option>
            </select>
            <br />
            <br />
            <label for="princess">Which Disney princess would you want to be?</label>
            <select name="princess">
                <option value="blank"></option>
                <option value="belle">Belle</option>
                <option value="jasmine">Jasmine</option>
                <option value="Anna">Anna</option>
                <option value="Elsa">Elsa</option>
            </select>
            <br />
            <br />
            <label for="holiday">What is your favorite holiday?</label>
            <select name="holiday">
                <option value="blank"></option>
                <option value="valentines">Valentines</option>
                <option value="christmas">Christmas</option>
                <option value="stpatrick">St. Patricks</option>
                <option value="halloween">Halloween</option>
            </select>
            <br />
            <br />
            <input type="submit" value="Submit">
        </form>
    </body>
</html>